<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>MyCodeBlog</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!--<link rel="stylesheet" href="style/styleCss.css"/>-->
</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-light" >
			<span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
			<a href="/newpost" class="btn btn-primary" role="button">Novo
				Post</a>
		</nav>

		<article>
			<div class="container" style="width: 60%; padding-bottom: 30px;">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb"
						style="background-color: white; padding-left: 0px;">
						<li class="breadcrumb-item active" aria-current="page"><a href="/posts">Post</a></li>  
						<li class="breadcrumb-item active" aria-current="page">Post <span th:text="${post.autor}"></span></li> 
					</ol>
				</nav>
				 <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
            	 	<div class="card-body">
                		<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                    		<i class="material-icons">person_outline</i>
                			<span  th:text="${post.autor}"></span>
                			<br>
                			<i class="material-icons">date_range</i>
               				<span th:text="${post.data}"></span>
                		</p>
               			<h1 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;"><span th:text="${post.titulo}"></span></h1>
                		 <p class="card-text"><span th:text="${post.texto}"></span></p>
                <!--<a th:href="${(#mvc.url('BC#getPostDetails').arg(0, post.id)).build()}" class="card-link">Acessar</a>-->
           		 </div>
        	</div>
        </div>
		</article>
	</header>
</body>
</html>